.loding{text-align: center;}
.user{
    color: #3f3e3e;
    padding: 100px; box-sizing: border-box;
    height: 100vh;
    .box{width: 80%; height: 500px; background: #fff; margin: 10px auto;
        padding: 100px;
        .name{margin-left: 170px; margin-top: 10px; font-size: 30px;}
        .email{margin-left: 170px; margin-top: 10px; font-size: 30px;}
        .phone{margin-left: 170px; margin-top: 10px; font-size: 30px;}
        .website{margin-left: 170px; margin-top: 10px; font-size: 30px;}
    }
    
}
.h2{text-align: center; 
}

