.amovie{
    width: 350px; 
    height: 500px;
    background: #fffefe;
    margin: 10px;
    text-align: center;
  a{
    text-decoration: none;
    color: #32a2c5;
    .title{text-align: center; font-size: 18px;}
    .img{width: 70%;}
    .date{margin-top: 30px;}
  } 
}